@import url('https://nushu-script-1305783649.file.myqcloud.com/NotoTraditionalNushu/index.css');
@import url('https://nushu-script-1305783649.file.myqcloud.com/font-unicode-nushu/index.css');
@import url('https://nushu-script-1305783649.file.myqcloud.com/noto-sans-nushu/index.css');

:lang(zh-Nshu), .noto-traditional-nushu { font-family: 'Noto Traditional Nushu', sans-serif, sans-serif; }
.unicode-nushu { font-family: 'Unicode Nushu', serif, serif; }
.noto-sans-nushu { font-family: 'Noto Sans Nushu', sans-serif, sans-serif; }

body {
	font-family: sans-serif, sans-serif;
	margin: 0;
}

a { text-decoration: none; }
a:link { color: dodgerblue; }
a:hover { color: deeppink; }

h1.title {
	/* Position */
	width: 100%;
	/* Content */
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
	/* Box */
	border-bottom: 2px solid grey;
	box-shadow: 0 1px 5px #aaa;
	/* Text */
	color: snow;
	font-size: 275%;
	margin: 0;
	padding: 1.5em 0;
	text-align: center;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

@media screen and (max-width: 1152px) {
	h1.title {
		font-size: 200%;
	}
}

div.content {
	margin: 1.5em auto;
	max-width: 58em;
	padding: 0 1em;
}

p, ul {
	line-height: 1.7;
}

figure {
	text-align: center;
}

figure img {
	max-width: 100%;
}

figure figcaption {
	font-weight: bold;
	padding: 0.7em 0;
}

div.content header, footer {
	margin: 8px 0;
}

div.content header p, footer p {
	margin: 4px 0;
	text-align: center;
}

footer p, footer ul {
	line-height: 1.5;
}

/* Converter */

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

textarea {
	box-sizing: border-box;
	font-family: inherit;
	width: 100%;
}

input[type="button"], input[type="submit"] {
	background-image: linear-gradient(transparent,rgba(0,90,156,.05) 40%,rgba(0,90,156,.1));
	border: 0;
	cursor: pointer;
	padding: 0.5em 1em;
}

.divArea {
	display: block;
	white-space: pre-wrap;
}

.divArea:empty {
	display: none;
}

/* Border */
input[type="text"], textarea, .divArea {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
	padding: 0.5em 0.6em;
}

input[type="text"]:focus, textarea:focus, .divArea:focus {
	border-color: dodgerblue;
}

input[type="text"]:focus:not(:empty):invalid, textarea:focus:not(:empty):invalid {
	border-color: #e9322d;
	color: #b94a48;
}

.divArea :lang(zh-Nshu) {
	font-size: 500%;
}

.divArea img {
	height: 158px;
	vertical-align: text-bottom;
	width: 44px;
}
