* {
	box-sizing: border-box;
}

@font-face {
	font-family: "TH-Tshyn-P1-Nushu";
	src: url("https://nushuscript.org/unicode_nushu/TH-Tshyn-P1-Nushu.woff");
}

body {
	margin: 0;
	font-family: sans-serif;
}

p, ul {
	line-height: 1.75;
}

h1 {
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
	border-bottom: 2px solid grey;
	box-shadow: 0 1px 5px #aaa;
	color: snow;
	font-size: 275%;
	margin: 0;
	padding: 1.5em 0;
	text-align: center;
}

@media screen and (max-width: 1152px) {
	h1 {
		font-size: 200%;
	}
}

body > div {
	margin: 1em auto;
	max-width: 50em;
	padding: 0 1em;
}

a {
	text-decoration: none;
}

a:link {
	color: dodgerblue;
}

a:hover {
	color: deeppink;
}

div > p > img {
	max-width: 100%;
}

header, footer {
	font-size: 90%;
	padding: 0.25em 0;
}

header > p, footer > p {
	line-height: 1.5;
	margin: 0.375em 0;
}

form textarea {
	font-family: inherit;
}

form input[type="text"], form textarea, #boxSelect {
	display: inline-block;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 3px #ddd;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	resize: vertical;
}

form input[type="text"], form textarea:focus, #boxSelect:focus {
	outline: 0;
	border-color: #129fea;
}

form input[type="text"] {
	height: 1.875em;
	padding: 0 0.5em;
	width: 7.5em;
}

form input[type="text"]:invalid {
	border-color: red;
}

form input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	font-family: inherit;
	padding: .5em 1em;
	color: rgba(0,0,0,.8);
	border: 1px solid #999;
	border: none transparent;
	background-color: #e6e6e6;
	text-decoration: none;
	border-radius: 2px;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

form input[type="submit"]:hover {
	background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

#boxInput, #boxSelect, #boxOutput {
	padding: 0.75rem 1rem;
	width: 100%;
}

#boxSelect {
	min-height: 5em;
	text-align: left;
}

#boxSelect img {
	vertical-align: text-top;
	height: 158px;
	width: 44px;
}

#boxSelect + p {
	margin: 0;
}

#boxOutput {
	text-align: left;
}

.center {
	text-align: center;
}

.nushu {
	font-family: sans-serif, TH-Tshyn-P1, "TH-Tshyn-P1-Nushu", sans-serif;
	font-size: 200%;
	font-size-adjust: 0.38;
	letter-spacing: 0.125em;
}

.select2-results__option {
	font-family: sans-serif, TH-Tshyn-P1, "TH-Tshyn-P1-Nushu", sans-serif;
	font-size: 125%;
}
